h1{
    position : relative;
    background-color:darkblue;
    color: aliceblue;
    padding: 4%;
    text-align: center;
}

.form {
    background-color:cornsilk;
    margin: 50px;
    padding: 50px;
    text-align: center;
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.bottom {
    position: fixed;
    font-size:130%;
    background-color:rgb(123, 129, 123);
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}